{{!-- flash message --}}

{{#if success_msg}}
<div class="flash-message badge bg-secondary">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="flash-message badge bg-danger">{{error_msg}}</div>
{{/if}}